.main-header {
	padding-top: 3.0625em;
	padding-bottom: 1.475em;
}
.header-nav {
	nav {
		margin: 0 auto;
		padding-left: 2.5rem;
		ul {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 0;
			margin: 0 auto;
			width: max-content;
			li {
				list-style: none;
				font-family: "YesevaOne", serif;
				font-size: 1rem;
				&:not(:last-child) {
					padding-right: 1.3rem;
				}
				&:last-child {
					padding-left: 5.3125rem;
				}
				a {
					color: #787878;
					transition: 0.3s ease;
					font-family: "YesevaOne", serif;
					font-weight: bold;
					font-size: 1.1rem;
				}
				&:hover {
					a {
						color: #e80072;
					}
				}
			}
		}
	}
}
